/* Styling Box */
.body {
  margin-left: 50px;
}
.box {
  width: 250px;
  height: 500px;
  border: 1px solid black;
  float: left;
  margin: 50px;
}
.red{
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
